<div class="container w-100 h-100 d-flex flex-row">
    <div class="row w-100 h-100">
        <aside class="col-xl-2 col-lg-2 col-md-2 col-sm-12 border-right m-0 p-0">
            <ul class="nav flex-column">
                <li class="nav-item border-bottom" routerLinkActive="active">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item border-bottom" routerLinkActive="active">
                    <a class="nav-link" routerLink="contact">Contact</a>
                </li>
                <li class="nav-item border-bottom" routerLinkActive="active">
                    <a class="nav-link" routerLink="sign-in">Sign-In</a>
                </li>
                <li class="nav-item border-bottom" routerLinkActive="active">
                    <a class="nav-link" routerLink="sign-up">Sign-Up</a>
                </li>
                <li class="nav-item border-bottom" routerLinkActive="active">
                    <a class="nav-link" routerLink="Map">Map</a>
                </li>
            </ul>
        </aside>
        <section class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
            <router-outlet>
            </router-outlet>
        </section>
    </div>
</div>